#biaoti{
    margin-top: -10vh;
    margin-bottom: 8vh;
}
.content{
    /* margin-top: 25%; */
    width: 80%;
}
.item{
    display: flex;
    align-items: center;
}
#how{
    margin-left: 10px;
    margin-right: 15px;
    width: 60%;
}
.button{   
    width: 120px;
}